<div class="container">
  <div class="section-title">
    <a class="anchor" id="about-us"></a>
    <h2>À propos de nous</h2>
    <%= svg_tag "icons/underline.svg" %>
  </div>
  <div class="about-us-flex">
    <%= cl_image_tag("wattivet/door_consultation-min", class: "about-us-img") %>
    <div class="about-us-details">
      <p>
        Bonjour et bienvenue chez Wattivet ! 😊
      </p>
      <p>
        La clinique vétérinaire de Wattignies a été <strong>fondée il y a plus de 30 ans</strong> avec une première ouverture à Templemars (Clinique Vétérinaire des Tilleuls).
        En mars 2021, nous décidons de nous relocaliser au coeur de Wattignies et devenons Wattivet !
      </p>
      <p>
        Composée de <strong>3 vétérinaires</strong> : Philippe Hocquet, Nina Carvalho Goncalves et Margaux Bouchery et de <strong>3 auxiliaires spécialisées</strong> vétérinaires :
        Marilou, Léa et Emeline; notre équipe se dévoue au quotidien au bien être de vos animaux.
      </p>
      <p>
        Spécialisés dans les soins apportés aux <strong>chiens</strong> 🐶 et <strong>chats</strong> 🐱, nous consultons sur rendez-vous du lundi au samedi.
        Nous assurons un <strong>suivi vétérinaire complet</strong> : consultation, chirurgie, imagerie médicale, Analyse Sanguine, Hospitalisation et Alimentation.
      </p>
    </div>
  </div>
</div>
