<div class="banner banner-mobile",
  style="background-image: url(<%= cl_image_path("wattivet/consultation_briard-min") %>)">
  <div class="banner-layer"></div>
  <div class="banner-text-container">
    <div class="banner-text">
      <h1>Bienvenue à la clinique vétérinaire <span>Wattivet</span></h1>
      <%= svg_tag "icons/underline.svg" %>
    </div>
  </div>
</div>
<div class="banner banner-desktop",
  style="background-image: url(<%= cl_image_path("wattivet/outdoor-min") %>)">
  <div class="banner-layer"></div>
  <div class="banner-text-container">
    <div class="banner-text">
      <h1>Bienvenue à la clinique vétérinaire <span>Wattivet</span></h1>
      <%= svg_tag "icons/underline.svg" %>
    </div>
  </div>
</div>
