<div class="footer">
  <p>
    Ce site a été fait avec ❤️ par
    <%= link_to "louishocquet.com",
    "https://www.louishocquet.com?utm_source=wattivet&utm_medium=footer&utm_campaign=websites&utm_id=1",
     target: :blank %>
  </p>
</div>
