  <div class="menu">

    <a data-action="click->menu#toggle" href="/"
      class="btn-font">
      <span>Accueil</span>
    </a>

    <a data-action="click->menu#toggle" href="#section-activities"
      class="btn-font">
      <span>Nos activités</span>
    </a>

    <a data-action="click->menu#toggle" href="#section-find-us"
      class="btn-font">
      <span>Nous trouver</span>
    </a>

    <a data-action="click->menu#toggle" href="#section-team"
      class="btn-font">
      <span>L'équipe</span>
    </a>

    <a class="btn btn-primary" href="#section-opening-hours"
      data-action="click->menu#toggle">
      <div>
        <%= svg_tag "icons/phone.svg" %>
        <span class="btn-font">Prendre RDV</span>
      </div>
    </a>

  </div>
