<div class="navbar">
  <%= render "components/logo" %>
  <div class="menu-container-desktop">
    <%= render"components/menu_desktop" %>
  </div>
  <div class="burger-icon" data-action="click->menu#toggle" >
    <%= svg_tag "icons/burger.svg" %>
  </div>
</div>
<div class="menu-container-mobile container" data-menu-target="mobileMenuContainer" >
  <%# <div class="container"> %>
    <%= render "components/menu_mobile" %>
  <%# </div> %>
</div>
