<div class="section background-primary-lightiest">
  <div class="container">
    <div class="section-title">
      <h2>Prise de RDV</h2>
      <%= svg_tag "icons/underline.svg" %>
    </div>
    <p>
      <%= simple_format(
        "Bonjour 👋
        La clinique Wattivet vous accueille du lundi au samedi. Afin de vous assurer un service optimal, nous ne consultons que sur rendez-vous."
      ) %>
    </p>
    <div class="card card-opening-hours">
      <div>
        <p>Consultations</p>
        <div class="days">
          <p>Du lundi au vendredi</p>
          <div class="hours">
            <p>10h à 12h</p>
            <p>14h à 19h</p>
          </div>
        </div>
        <div class="days">
          <p>Samedi</p>
          <div class="hours">
            <p>9h à 12h30</p>
          </div>
        </div>
        <div class="days">
          <p>Dimanche</p>
          <div class="hours">
            <p>Fermé</p>
          </div>
        </div>
      </div>
      <div>
        <p>Permanence accueil</p>
        <div class="days">
          <p>Du lundi au vendredi</p>
          <div class="hours">
            <p>13h à 14h</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
