<div class="container">
  <a class="anchor" id="opening-hours"></a>
  <div class="section-title">
    <h2>Prise de RDV</h2>
    <%= svg_tag "icons/underline.svg" %>
  </div>
  <div class="opening-hours-flex">
    <div class="opening-hours-details">
      <p>
          Bonjour 👋 </br>
          Afin de vous assurer un service optimal,
          <strong class="color-primary-base" >nous ne consultons que sur rendez-vous</strong>.
      </p>

      <div class="card card-opening-hours">
        <div>
          <p>Consultations</p>
          <div class="days">
            <p>Du lundi au vendredi</p>
            <div class="hours">
              <p>10h à 12h</p>
              <p>14h à 19h</p>
            </div>
          </div>
          <div class="days">
            <p>Samedi</p>
            <div class="hours">
              <p>9h à 12h30</p>
            </div>
          </div>
          <div class="days">
            <p>Dimanche</p>
            <div class="hours">
              <p>Fermé</p>
            </div>
          </div>
        </div>
        <div>
          <p>Permanence accueil</p>
          <div class="days">
            <p>Du lundi au vendredi</p>
            <div class="hours">
              <p>13h à 14h</p>
            </div>
          </div>
          <div class="days">
            <p>Samedi</p>
            <div class="hours">
              <p>8h à 9h</p>
            </div>
          </div>
        </div>
      </div>

      <a href="tel:0320960960" class="btn btn-primary call-button">
        <div>
          <%= svg_tag "icons/phone.svg" %>
            <span class="btn-font" >Prendre rendez-vous</span>
        </div>
      </a>

      <p>
        Vous pouvez prendre rendez-vous par téléphone au
        <a href="tel:0320960960" class=display-mobile>
          <strong class="color-primary-base">03 20 96 09 60 </strong>
        </a>
        <strong class="color-primary-base display-not-mobile">03 20 96 09 60 </strong>
        ou sur place lors de nos permanences accueil.
      </p>

    </div>
    <%= cl_image_tag("wattivet/consultation_joey_3-min",
    class: "opening-hours-img") %>
  </div>

  <p>
    Si vous avez une urgence et que la clinique est fermée,
    vous pouvez joindre Nordvet au 03 20 51 00 66
    ou Vetoadom au 03 59 61 33 33.
  </p>
</div>
