// Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$x_large: 1200px;

@mixin media-min($_min-width) {
  @media screen and (min-width: $_min-width) {
    &{ @content; }
  }
}

$padding-container-y : 64px 0;
// $padding-container-bottom : 0 0 16px 0;
$padding-container-x : 0 16px;
$padding-container-xy : 64px 16px;

@media screen and (min-width: $small) {
  $padding-container-y : 64px 0;
  // $padding-container-bottom : 0 0 24px 0;
  $padding-container-x : 0 24px;
  $padding-container-xy : 64px 24px;
}
@media screen and (min-width: $medium) {
  $padding-container-y : 80px 0;
  // $padding-container-bottom : 0 0 32px 0;
  $padding-container-x : 0 32px;
  $padding-container-xy : 80px 32px;
}
@media screen and (min-width: $large) {
  $padding-container-y : 100px 0;
  // $padding-container-bottom : 0 0 40px 0;
  $padding-container-x : 0 56px;
  $padding-container-xy : 100px 56px;
}
@media screen and (min-width: $x-large) {
  $padding-container-y : 120px 0;
  // $padding-container-bottom : 0 0 48px 0;
  $padding-container-x : 0 64px;
  $padding-container-xy : 120px 64px;
}

.container{
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: $padding-container-xy;

  // @include media-min($small) {
  //   max-width: 576px;
  //   // padding: $padding-xy;
  // }
  // @include media-min($medium) {
  //   max-width: 720px;
  //   // padding:  $padding-xy;
  // }
  // @include media-min($large) {
  //   max-width: 992px;
  //   // padding: $padding-xy;
  // }
  // @include media-min($x_large) {
  //   max-width: 1140px;
  //   // padding: $padding-xy;
  // }
}
