// Import Google fonts

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;700&display=swap');


// Define fonts for body and headers
$body-font: "Roboto", "Helvetica", "sans-serif";
$headers-font: "Noto Sans", "Helvetica", "sans-serif";

@import "colors";
@import "breakpoints";

h1, h2, h3, p, .p2 {
  color: $gray;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1, h2, h3 {
  margin: $padding-s 0 $padding-xs 0;
  line-height: 140%;
  font-family: $headers-font;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
  font-size: 32px;

  @include media-min($medium) {
    font-size: 40px;
  }
  @include media-min($large) {
    font-size: 48px;
  }
}

h2 {
  font-size: 24px;
  color: $primary_base;

  @include media-min($small) {
    font-size: 28px;
  }
  @include media-min($large) {
    font-size: 32px;
  }
}

h3 {
  font-size: 20px;
  line-height: normal;

  @include media-min($small) {
    font-size: 20px;
  }
  @include media-min($large) {
    font-size: 24px;
  }
}

p {
  margin: 8px 0 8px 0;
  font-family: $body-font;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;

  @include media-min($medium) {
    font-size: 18px;
  }
}

.p2 {
  font-family: $body-font;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;

  @include media-min($medium) {
    font-size: 14px;
  }
}

.logo-font {
  font-family: $headers-font;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-top: 0;

  @include media-min($medium) {
    font-size: 20px;
  }

  @include media-min($large) {
    font-size: 24px;
  }
}

.btn-font{
  font-family: $body-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  @include media-min($medium) {
    font-size: 18px;
  }

  // @include media-min($large) {
  //   font-size: 20px;
  // }
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
