body, html {
  background-color: $background;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.disable-scrolling {
  height: 100%;
  overflow-y: hidden;
}

hr {
  display: block;
  border: 1px solid $primary_light;
}

.full-page {
  min-height: 85vh;
  width: 100%;

  @include media-min($large) {
    min-height: 90vh;
  }
}

.section {
  padding-top: $padding-xl;
  padding-bottom: $padding-xl;
}

.section-title {
  padding-bottom: $padding-m;
  display: flex;
  flex-direction: column;
  align-items: start;
  @include media-min($large) {
    align-items: start;
  }
  & > svg > path {
    stroke-width: 4;
  }
}

.bg-primary-lightiest {
  background-color: $primary_lightiest;
}

.background-main {
  background-color: $background;
}

.container{
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding-right: 16px;
  padding-left: 16px;

  @include media-min($small) {
    // max-width: 576px;
    padding-right: 24px;
    padding-left: 24px;
  }
  @include media-min($medium) {
    // max-width: 720px;
    padding-right: 32px;
    padding-left: 32px;
  }
  @include media-min($large) {
    // max-width: 992px;
    padding-right: 56px;
    padding-left: 56px;
  }
  @include media-min($x_large) {
    max-width: 1200px;
    padding-right: 72px;
    padding-left: 72px;
  }
}

.card {
  background-color: $background;
  border-radius: 8px;
  padding: $padding-m;
  box-shadow: $box_shadow;
}

.card > div {
  margin-bottom: $padding-m;
}
.card > div:last-of-type {
  margin-bottom: 0;
}

.card > div > p {
  display: block;
  border-bottom: solid 2px $primary-base;
  width: fit-content;
  font-weight: 600;
  margin-bottom: $padding-s;
}
