<div class="container">
  <h1>Design System</h1>

  <h2 class="text-highlight">📝 Fonts</h2>
  <h1>H1 - Lorem ipsum dolor sit amet.</h1>
  <h2>H2 - Lorem ipsum dolor sit amet.</h2>
  <h3>H3 - Lorem ipsum dolor sit amet.</h3>
  <p class="logo-font">Logo - Lorem ipsum dolor sit amet.</p>
  <p class="btn-font">Btn - Lorem ipsum dolor sit amet.</p>
  <p>P - Lorem ipsum dolor sit amet.</p>
  <p class="p2">P2 - Lorem ipsum dolor sit amet.</p>

  <h2 class="text-highlight">🕹️ Buttons</h2>
  <div class="btns-list">

    <a class="btn btn-primary" href="#">
      <div>
        <%= svg_tag "icons/phone.svg" %>
        <span>Primary with icon</span>
      </div>
    </a>
    <a class="btn btn-primary icon-off" href="#">
      <div>
        <%= svg_tag "icons/phone.svg" %>
        <span>Primary no icon</span>
      </div>
    </a>
    <a class="btn btn-secondary" href="#">
      <div>
        <%= svg_tag "icons/phone.svg" %>
        <span>Secondary with icon</span>
      </div>
    </a>
    <a class="btn btn-secondary icon-off" href="#">
      <div>
        <%= svg_tag "icons/phone.svg" %>
        <span>Secondary no icon</span>
      </div>
    </a>
  </div>

  <h2 class="text-highlight">🎨 Colors</h2>
  <h3>Monochrome</h3>
  <div class="colors-list">
    <div class="color-item">
      <div class="color-black"></div>
      <p>Black</p>
      <p>#1F1F1F</p>
    </div>
    <div class="color-item">
      <div class="color-gray"></div>
      <p>Gray</p>
      <p>#5C5C5C</p>
    </div>
    <div class="color-item">
      <div class="color-light-gray"></div>
      <p>Light Gray</p>
      <p>#EBEBEB</p>
    </div>
    <div class="color-item">
      <div class="color-white"></div>
      <p>White</p>
      <p>#FFFFFC</p>
    </div>
  </div>
  <h3>Primary</h3>
  <div class="colors-list">
    <div class="color-item">
      <div class="color-primary-dark"></div>
      <p>Primary Dark</p>
      <p>#485696</p>
    </div>
    <div class="color-item">
      <div class="color-primary-base"></div>
      <p>Primary Base</p>
      <p>#5D6CB3</p>
    </div>
    <div class="color-item">
      <div class="color-primary-light"></div>
      <p>Primary Light</p>
      <p>#D9E0FF</p>
    </div>
    <div class="color-item">
      <div class="color-primary-lightiest"></div>
      <p>Primary Lightiest</p>
      <p>#F5F7FF</p>
    </div>
  </div>
  <h3>Secondary</h3>
  <div class="colors-list">
    <div class="color-item">
      <div class="color-secondary-dark"></div>
      <p>Secondary Dark</p>
      <p>#485696</p>
    </div>
    <div class="color-item">
      <div class="color-secondary-base"></div>
      <p>Secondary Base</p>
      <p>#5D6CB3</p>
    </div>
    <div class="color-item">
      <div class="color-secondary-light"></div>
      <p>Secondary Light</p>
      <p>#D9E0FF</p>
    </div>
    <div class="color-item">
      <div class="color-secondary-lightiest"></div>
      <p>Secondary Lightiest</p>
      <p>#F5F7FF</p>
    </div>
  </div>
  <h3>System colors</h3>
  <div class="colors-list">
    <div class="color-item">
      <div class="color-red"></div>
      <p>Red</p>
      <p>#FD1015</p>
    </div>
    <div class="color-item">
      <div class="color-yellow"></div>
      <p>Yellow</p>
      <p>#FFC65A</p>
    </div>
    <div class="color-item">
      <div class="color-green"></div>
      <p>Green</p>
      <p>#1EDD88</p>
    </div>
  </div>
</div>
