.activity-pills {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 8px;
  @include media-min($large) {
    gap : 16px;
  }
}

.activity-pill {
  display: flex;
  border: solid 1px $secondary-base;
  box-shadow: $box_shadow;
  padding: $padding_xs;
  background-color: $background;
  border-radius: 8px;
  cursor: pointer;
  flex-grow: 1;
  justify-content: center;
  max-width: 200px;
  & > p{
    margin: 0;
    font-weight: 500;
  }
  @include media-min($large) {
    padding: $padding_xs $padding-s;
  }
}

.activity-active, .activity-pill:hover {
  background-color: $secondary-base;
  & p {
    color: $white;
  }
}

.activities-flex {
  display: flex;
  flex-direction: column;
  gap: $padding-s;
  @include media-min($large) {
    gap: $padding-m;
  }
}

.activity-display {
  display: flex;
  flex-direction: column;
  // gap: $padding_s;
  @include media-min($medium){
    flex-direction: row;
    gap: $padding_l;
  }
}

.activity-picture {
  display: none;
  box-shadow: $box_shadow;
  flex-grow: 3;
  border-radius: 8px;
  object-fit: cover;
  min-height: 320px;
  height: 36vh;
  @include media-min($medium) {
    height: 40vh;
    width: 300px;
  }
  @include media-min($large) {
    height: 60vh;
  }
}

.img-active {
  display:block;
}

.activity-description {
  display: flex;
  gap: 16px;
  padding: $padding-m 0;
  @include media-min($large) {
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    gap: 32px;
  }
  flex-grow: 1;
  h3 {
    width: 100%;
  }
  @include media-min($medium) {
    width: 300px;
  }
  i {
    display: block;
    background-color: $primary_base;
    color: $white;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    text-align: center;
    align-content: center;
    @include media-min($large){
      width: 120px;
      height: 120px;
    }
    border-radius: 100px;
    font-size: 48px;
  }
}
