.btn {
  text-decoration: none;
  padding: 0 $padding_s;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: -webkit-fill-available;
  border-radius: $border-radius;
  color: $white;
  @include media-min($medium){
    width: fit-content;
  }
  @include media-min($large){
  }
  div {
    display: flex;
    align-items: center;
  }
  svg {
    margin: 0;
    height: 24px;
    width: 24px;
    @include media-min($medium) {
      height: 28px;
      width: 28px;
    }
  }
  span {
    margin: 0;
    padding: 0 0 0 8px;
  }

}
.btn-secondary {
  color: $secondary_base;
  background: $white;
  border: solid 1px $secondary_base;
  path {
    fill: $secondary_base;
  }
}
.btn-primary {
  color: $white;
  background: $secondary_base;
  box-shadow: $box_shadow;
  path {
    fill: $white;
  }
}
.btn-primary, .btn-secondary {
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    background: $secondary_dark;
    color: $white;
    path {
      fill: $white;
    }
  }
}
.icon-off {
  svg {
    display: none;
  }
}

// For design page
.btns-list {
  display: flex;
  flex-wrap: wrap;
}
.btn-call-mobile {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: fit-content;
  border-radius: 30px;
  height: 56px;
  width: 56px;
  padding: 0;
  & svg {
    height: 28px;
    width: 28px;
  }
  @include media-min($medium) {
    display: none;
  }
}
