.btn {
  text-decoration: none;
  padding: 0 24px;
  margin: 8px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: -webkit-fill-available;
  border-radius: 8px;
  @include media-min($medium){
    margin: 16px auto;
    width: fit-content;
  }
  @include media-min($large){
    margin: 24px auto;
  }
  div {
    display: flex;
    align-items: center;
  }
  svg {
    margin: 0;
    height: 24px;
    width: 24px;
    @include media-min($medium) {
      height: 28px;
      width: 28px;
    }
  }
  span {
    margin: 0;
    padding: 0 0 0 4px;
  }

}
.btn-secondary {
  color: $secondary_base;
  background: $white;
  border: solid 1px $secondary_base;
  path {
    fill: $secondary_base;
  }
}
.btn-primary {
  color: $white;
  background: $secondary_base;
  path {
    fill: $white;
  }
}
.btn-primary, .btn-secondary {
  transition: 0.3s;
  &:hover {
    background: $secondary_dark;
    color: $white;
    path {
      fill: $white;
    }
  }
}
.icon-off {
  svg {
    display: none;
  }
}

// For design page
.btns-list {
  display: flex;
  flex-wrap: wrap;
}
