.card .find-us-details {
  margin-bottom: $padding-s;
  margin-left: 4px;
}
.card .find-us-details:last-of-type {
  margin-bottom: 0;
}
.find-us-flex {
  display: flex;
  flex-direction: column;
  gap: $padding-m;

  @include media-min($large) {
    flex-direction: row;
    gap: $padding-l;
  }
}
.card-find-us {
  & p {
    margin: 0;
  }
  @include media-min($large) {
    width: 300px;
    flex-grow: 2;
  }
}

.find-us-map {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  // height: 40vh;
  gap: $padding-m;
  @include media-min($large) {
    width: 300px;
    // height: 60vh;
  }
  & > img {
    border-radius: 8px;
    box-shadow: $box_shadow;
    object-fit: cover;
    flex-grow: 1;
    min-height: 320px;
    height: 36vh;
    @include media-min($medium) {
      height: 40vh;
    }
  }
}

.find-us-google-link {
  display: flex;
  align-items: center;
  gap: 4px;
  border-bottom: solid 2px $secondary-base;
  width: fit-content;
  & p, path {
    color: $secondary-base;
    fill: $secondary-base;
    margin: 0;
    font-weight: 500;
  }
  & svg {
    width: 20px;
    height: 20px;
  }
}
