.logo {
  display: flex;
  align-items: center;
  width: fit-content;
}

.logo p {
  color: $primary_base;
  margin: 0;
  margin-left: 8px;

  @include media-min($large) {
    margin-left: 12px;
  }
}

.logo img {
  height: 64px;
  width: 64px;

  @include media-min($large) {
    height: 72px;
    width: 72px
  }
}
