.logo {
  display: flex;
  align-items: center;
  width: fit-content;
}

.logo p {
  color: $primary_base;
  margin-left: 8px;

  @include media-min($large) {
    margin-left: 12px;
  }
}

.logo img {
  // @include media-min($medium) {
  //   height: 72px;
  //   width: 72px
  // }

  @include media-min($large) {
    height: 72px;
    width: 72px
  }
}
