.navbar-menu-container {
  position: relative;
}

.menu-container-mobile {
  @include media-min($large) {
    display: none;
  }
  display: flex;
  background: $white;
  position: fixed;
  height: 100vh;
  width: 100%;
  padding-top: 64px;
  z-index: 2;
  // transition: transform 200ms ease 200ms;
  transform: translateY(-100vh) translateX(0px);
}

.menu-container-mobile > .menu {
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  @include media-min($medium) {
    gap: 48px;
  }
  align-items: center;
  padding: $padding-l 0;
  & > .btn-primary {
    margin: 0;
  }
}

.menu-container-mobile-active {
  display: flex;
  height: 100vh;
  transition: transform 400ms ease 200ms;
  transform: translateY(0) translateX(0px);
}

.menu-container-desktop {
  display: none;
  flex-grow: 1;
  @include media-min($large) {
    display: flex;
  }
  @include media-min($x-large) {
  }
}

.menu {
  display: none;
  display: flex;
  max-width: 100%;
  flex-grow: 1;
  justify-content: flex-end;
  @include media-min($large) {
    gap: 40px;
  }
  @include media-min($x_large) {
    gap: 64px;
  }
  align-items: stretch;
  & > .btn-font {
    color: $gray;
    padding: 4px;
    display: flex;
    align-items: center;
  }
  & > .btn-font:hover {
    color: $secondary-base;
  }
}
