.navbar {
  border: solid;
  display: flex;
  gap: 24px;
  align-items: stretch;
  justify-content: space-between;
  .menu {
    display: none;
  }

  padding: 0 16px;

  @include media-min($small) {
    padding: 0 24px;
  }

  @include media-min($medium) {
    padding: 0 32px;
    gap: 32px;
  }

  @include media-min($large) {
    padding: 0 56px;
    gap: 0 64px;
    & .menu {
      display: flex;
    }
    & .burger-icon {
      display: none;
    }
  }

  @include media-min($x-large) {
    padding: 0 72px;
    gap: 0 80px;
  }

  & .menu {
    flex-grow: 1;

    justify-content: space-between;
    align-items: stretch;
  }

  & .menu > a {
    color: $gray;
    padding: 4px;
    display: flex;
    align-items: center;
  }

  & .menu > a:hover {
    color: $secondary-base;
  }

  & .burger-icon {
    display: flex;
    align-items: center;
    & svg {
      height: 32px;
      width: 32px;
    }
  }
}
