.opening-hours-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: $padding-m;
  @include media-min($large) {
    flex-direction: row;
    gap: $padding-l;
  }
}

.opening-hours-details {
  display: flex;
  flex-direction: column;
  gap: $padding-m;
  margin-bottom: $padding-m;
  & p, .btn {
    margin: 0;
  }
  @include media-min($large) {
    width: 300px;
    flex-grow: 3;
  }
}

.opening-hours-img {
  // display: none;
  min-height: 260px;
  height: 32vh;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: $box_shadow;
  @include media-min($medium) {
    height: 48vh;
  }
  @include media-min($large) {
    // display: block;
    // border-radius: 8px;
    height: unset;
    width: 300px;
    flex-grow: 2;
    max-height: 60vh;
    // object-fit: cover;
  }
}

.card .days {
  display: flex;
  justify-content: space-between;
  margin-bottom: $padding-s;
  margin-left: 4px;
}
.card .days:last-of-type {
  margin-bottom: 0;
}
