.team-flex {
  display: flex;
  flex-direction: column;
  gap: $padding-m;
  @include media-min($medium) {
    gap: $padding-l;
  }
}

.full-team-picture {
  width: 100%;
  height: 24vh;
  @include media-min($medium) {
    height: 40vh;
  }
  @include media-min($large) {
    height: 60vh;
  }
  object-fit: cover;
  border-radius: 8px;
  box-shadow: $box_shadow;
}

.team-avatars-flex {
  display: flex;
  flex-wrap: wrap;
  gap: $padding-m;
  justify-content: space-between;
  @include media-min($medium) {
    justify-content: center;
  }
  @include media-min($large) {
    justify-content: space-between;
  }

}

.team-avatar {
  display: flex;
  flex-direction: column;
  min-width: 148px;
  max-width: 240px;
  flex: 0 0 46%;
  @include media-min($medium) {
    flex: 0 0 31%;
  }
  @include media-min($large) {
    flex: 0 0 24%;
  }
  & > img {
    border-radius: 8px;
    box-shadow: $box_shadow;
  }
  & > p {
    text-align: center;
  }
}
